<header class="py-4 px-4 md:px-8 border-b border-gray-200">
    <nav class="flex justify-between items-center max-w-7xl mx-auto">
        <div class=" logo flex items-center font-zain">
            <a href="/home" class="text-2xl ">
                <!-- <span class="text-black ">Savory</span><span class="text-orange-500">Trail</span> -->
                <img src="assets/LOGO.svg" alt="Food" class="" />
            </a>
        </div>

        <div class="hidden md:flex space-x-14">
            <a href="/home" class="font-medium">Home</a>
            <a href="/recipes" class="font-medium">Recipes</a>
            <a href="/features" class="font-medium">Features</a>
            <a href="/contact" class="font-medium">Contact</a>
        </div>

        <div class="flex items-center space-x-4">
            <a routerLink="/login" class="font-medium">Login</a>
            <a routerLink="/signup" class="border border-gray-800 rounded-full px-6 py-2 font-medium">Signup</a>
        </div>
    </nav>
</header>