<section class="parent border-b border-gray-200 w-full flex flex-col justify-center items-center px-4 md:px-8 py-12 ">
    <div
        class=" max-w-7xl w-full flex flex-col md:flex-row items-center gap-10 md:gap-16 bg-[url('assets/recipes-bg.jpg')] bg-cover bg-center bg-no-repeat h-72 rounded-2xl">
        <h1 class="text-gray-50 text-5xl ml-12 font-semibold font-poppins"> Explore <br> <span
                class="text-[#da5c25] font-bold">Delicious</span>
            Recipes</h1>

    </div>


    <h1 id="zain" class="text-4xl font-semibold mt-16 mb-4">What's for <span class="text-[#da5c25] ">today</span>?
    </h1>

    <div class="max-w-7xl  flex justify-center flex-wrap gap-3 p-4 ">
        <button *ngFor="let category of categories" (click)="selectCategory(category.id)"
            [class]="getButtonClasses(category.id)"
            class="inline-flex items-center gap-2 px-4 py-2 rounded-full text-sm font-medium transition-all duration-200 hover:shadow-md">
            <span class="text-lg">{{ category.icon }}</span>
            <span>{{ category.name }}</span>
        </button>
    </div>


    <!-- Recipe Cards Grid -->
    <div class="max-w-7xl w-full mt-8">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            <app-recipe-card *ngFor="let recipe of filteredRecipes" [recipe]="recipe"></app-recipe-card>
        </div>
    </div>

</section>