/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap'); */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #333;
    line-height: 1.6;
}

a {
    text-decoration: none;
}

.zain {
    font-family: 'Zain'
}